.first-menu .last-item{
    padding-top: 70px; 
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.first-menu .menuItem{
    padding-top: 15px;
    padding-bottom: 15px;
}
.first-menu{
    background-color: #f9f9f9 !important;
    width: 80px;
    margin-top: 70px !important;
    padding-top: 30px !important;
    border: 0px !important;
}
.secnd-menu{
    background-color: #f9f9f9 !important;
    height: 70px;
    position: absolute;
    top:0px;
    width: 100%;
    border: 0px !important;  
}
.secnd-menu .k-first{
    border: 0px !important
}
.sencndMenuItem-lastItem{
    padding-top: 10px;
    border: 0px !important;
    position: relative;
    left:84vw;
    height: 60px !important;
    padding-left: 5px;
}
.secnd-menu .sencndMenuItem-lastItem .k-link .k-image{
    width: 40px;
}
.img .k-image{
    width: 50px;
    border-radius: 50%;
    padding: 4px;
    border: 1px solid #02536e;
}
.img{
    position: relative;
    left: 84.2%;
    border: none !important;
}
.k-first .k-link .k-image {
    width: 58px;
    border: 0px !important
}
.k-last .k-link .k-image{
    width: 50px;
    margin-left: -10px;
}
.first-menu .k-link svg{
    margin-bottom: 10px;
}
.first-menu .k-link .line{
    width: 45px;
    margin-left: -7px;
    color: #02536e;
    background-color: #02536e;
    border: none;
    height: 1px;
}

@media screen and (max-width: 1500px) {
    .img{
        left: 80.2%;
    }
    .sencndMenuItem-lastItem{
        left:80vw;
    }
  }
  @media screen and (max-width: 1290px) {
    .first-menu{
        width: 70px;
    }
    .img{
        left: 78%;
    }
    .sencndMenuItem-lastItem{
        left:76vw;
    }
  }
