.first-menu .last-item{
    padding-top: 12vh; 
    padding-bottom: 2vh;
}
.first-menu .menuItem{
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.first-menu{
    padding-top: 4vh !important;
    background-color: #f9f9f9 !important;
    width: 80px;
    border: 0px !important;
    height: 85vh;
}
.second-menu{
    background-color: #f9f9f9 !important;
    height: 70px;
    width: 100% !important;
    border: 0px !important;  
}
.second-menu .k-first{
    border: 0px !important
}
.sencondMenuItem-lastItem{
    padding-top: 10px;
    border: 0px !important;
    position: relative;
    left:84vw;
    height: 60px !important;
    padding-left: 5px;
}
.second-menu .sencondMenuItem-lastItem .k-link .k-image{
    width: 40px;
}
.img .k-image{
    width: 50px;
    border-radius: 50%;
    padding: 4px;
    border: 1px solid #02536e;
}
.img{
    position: relative;
    left: 84.2%;
    border: none !important;
}
.k-first .k-link .k-image {
    width: 58px;
    border: 0px !important
}
.k-last .k-link .k-image{
    width: 50px;
    margin-left: -10px;
}
.first-menu .k-link svg{
    margin-bottom: 10px;
}
.first-menu .k-link .line{
    width: 45px;
    margin-left: -7px;
    color: #02536e;
    background-color: #02536e;
    border: none;
    height: 1px;
}


@media screen and (max-width: 1650px) {
    .img{
        left: 80.2%;
    }
    .sencondMenuItem-lastItem{
        left:80%;
    }
  }
  @media screen and (max-width: 1320px) {
    .img{
        left: 75%;
    }
    .sencondMenuItem-lastItem{
        left:73%;
    }
  }
  @media screen and (max-height: 875px) {
    .first-menu{
        padding-top: 0vh !important;
    }
    .first-menu .last-item{
        padding-top: 10vh; 
        padding-bottom: 1vh;
    }
  }
